/* ContactClient Campaigns - JSON Editor */
.media_jsoneditor h3 {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 5px 0;
}

.media_jsoneditor .btn-md i.fa {
    font-size: 15px;
}

.media_jsoneditor i.fa-caret-right,
.media_jsoneditor i.fa-caret-down {
    font-size: 20px;
}

.media_jsoneditor i.fa-caret-square-o-right,
.media_jsoneditor i.fa-caret-square-o-down {
    font-size: 16px;
}

.media_jsoneditor .btn-group.btn-left {
    margin-bottom: 8px;
}

/* Hidden nav items in this group cause border radius to look strange */
.media_jsoneditor .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.media_jsoneditor .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.media_jsoneditor .btn-group.btn-left .btn {
    border-radius: 3px;
}

.media_jsoneditor .btn-group.btn-right .btn {
    margin-left: 8px;
    border-radius: 3px;
}

/* Move delete buttons to the right */
.media_jsoneditor div[data-schematype="object"][data-schemapath^="root.campaigns."] > h3 > div.btn-group.btn-right {
    position: absolute;
    right: 0;
}

.media_jsoneditor div[data-schematype="object"][data-schemapath^="root.campaigns."] > h3 > div.btn-group.btn-right > .delete:after {
    content: " from Source";
}

/*.media_jsoneditor div[data-schematype="object"][data-schemapath^="root.campaigns."] > h3 {*/
/*padding-bottom: 33px;*/
/*}*/

.media_jsoneditor .btn-group .btn-secondary {
    background: transparent;
}

.media_jsoneditor .btn-group .btn-secondary.active {
    background: transparent;
}

/* Show the expandable headers as clickable */
.media_jsoneditor > div > h3 span {
    cursor: pointer;
}

/* Hide the root definition as it'd be a duplicate label in this case. */
.media_jsoneditor > div > h3 {
    display: none;
}

.media_jsoneditor > div > .well {
    min-height: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*.media_jsoneditor .well {*/
    /*border: none;*/
    /*background: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
/*}*/

/* Prevent faulty glyphicon load */
.media_jsoneditor .glyphicon {
    font-family: "Courier New", monospace;
}

/* Positioning tooltips in tables */
.media_jsoneditor td > div > .glyphicon-info-sign.pull-right {
    position: absolute !important;
    top: 50px;
    margin: 0 0 0 -16px;
    height: 0;
}

.media_jsoneditor td > div > .glyphicon-info-sign.pull-right:before {
    opacity: 0;
    width: 60px;
}

/* Styling tooltips */
.media_jsoneditor .glyphicon-info-sign.pull-right {
    float: none !important;
    margin-left: 5px;
}

.media_jsoneditor div[data-schemapath$=".campaignId"] label.control-label {
    font-size: 16px;
}

.media_jsoneditor .glyphicon-info-sign:before {
    content: "\f059";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.media_jsoneditor .glyphicon-info-sign span {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    z-index: 1000;
    transform: translateX(0.5rem) translateY(-0.5rem) !important;
}

/* Table styles */
.media_jsoneditor table.table-bordered {
    min-width: 100%;
    border: 0;
}

.media_jsoneditor table.table-bordered,
.media_jsoneditor table.table-bordered > thead > tr > th,
.media_jsoneditor table.table-bordered > tbody > tr > th,
.media_jsoneditor table.table-bordered > tbody > tr > td,
.media_jsoneditor table.table-bordered > tfoot > tr > td,
.media_jsoneditor table.table-bordered > tfoot > tr > th {
    border-left: 0;
    border-right: 0;
    padding: 4px 4px;
}

.media_jsoneditor table .form-group {
    margin-bottom: 0;
}


.media_token {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div[data-schemapath*="root.campaigns."] h3.moveRight {
    text-align: right;
}

.media_jsoneditor div[data-schemapath$=".providerCampaignId"] select {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    margin-top: 4px;
}